<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutBid</title>
    <link rel="stylesheet" href="/style.css">
    <script>
    var id = "<%= id %>"
    var mdown;
    </script>
    <script src="/wsclient.js" defer></script>
  </head>

  <body>
    <header>
      <a href="/home">
        <img id="logo" src="/favicon.ico" alt="home">
      </a>
      <h1><%= id %></h1>
      <button type="button" onclick="StartGame()">tempStart</button>
    </header>

    <progress value="0" max="10" id="timer"></progress>

    <table id="playerList">
      <caption id="readyCounter"></caption>
      <thead>
        <tr>
          <th>Nickname</th>
          <th>StartingPoints</th>
        </tr>
      </thead>
      <tbody id="playerlist"></tbody>
    </table>

    <div id="roundsContainer"></div>

    <input type="number" id="bidLabel" value="0" min="0" max="<%= startingStack %>" onchange="RefreshSlider(this)">
    <div>
      <label for="slider" id="minLabel">0</label>
      <input type="range" id="slider" value="0" min="0" max="<%= startingStack %>" onchange="RefreshBidLabel()" onmousedown="mdown = setInterval(RefreshBidLabel, 50)" on>
      <label for="slider" id="maxLabel"><%= startingStack %></label>
      <button type="button" id="bidButton" onclick="Bid(this)">Bid</button>
    </div>

    <div id="notification" class="hidden">info</div>
  </body>
</html>
